@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
:root {
  --mh-blue: #0d6efd;
  --mh-indigo: #6610f2;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: #1a1a11;
  font-size: 16px;
}

a {
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/***
* Header Style
***/
.header {
  height: 60px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  z-index: 99;
}

.header__logo a {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--mh-indigo);
  letter-spacing: 1px;
}

.header__nav {
  display: none;
}

@media (min-width: 992px) {
  .header__nav {
    display: block;
  }
}

.header__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav ul li {
  display: inline-block;
}

.header__nav ul li a {
  display: block;
  color: #1a1a11;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.header__nav ul li a:hover {
  color: var(--mh-indigo);
}

.togller {
  position: fixed;
  right: 30px;
  top: 22px;
  z-index: 99999;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}

.togller.active {
  color: #fff;
}

@media (min-width: 991px) {
  .togller {
    display: none;
  }
}

.mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

.mobile-body-overly.active {
  display: block;
}

/************
**** Layout
*********** */
.content {
  padding-top: 30px;
  margin: auto;
}

@media (min-width: 576px) {
  .content {
    width: 540px;
  }
}

@media (min-width: 1200px) {
  .content {
    width: 600px;
  }
}

.content__left {
  width: 260px;
  position: fixed;
  left: -260px;
  top: 0px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.content__left.active {
  left: 0;
  z-index: 9999;
  top: 0;
  background-color: #fff;
}

@media (min-width: 992px) {
  .content__left {
    left: 0;
    top: 60px;
  }
}

.content__left .user-nav ul {
  margin: 20px 0 10px 0;
  padding: 0;
  list-style: none;
}

.content__left .user-nav ul li {
  list-style: none;
}

.content__left .user-nav ul li a {
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  font-size: 14px;
  color: #1a1a11;
}

.content__left .user-nav ul li a:hover {
  color: var(--mh-indigo);
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#ddd));
  background-image: linear-gradient(90deg, #fff, #ddd);
}

.content__left .portfolio-nav span {
  display: block;
  padding: 8px 20px;
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 10px;
}

.content__left .portfolio-nav ul {
  margin: 0;
  padding: 0;
}

.content__left .portfolio-nav ul li {
  list-style: none;
}

.content__left .portfolio-nav ul li a {
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  color: #333;
  font-size: 14px;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.content__left .portfolio-nav ul li a:hover {
  color: var(--mh-indigo);
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#ddd));
  background-image: linear-gradient(90deg, #fff, #ddd);
}

.content__main {
  width: 100%;
  margin: auto;
  padding: 60px 15px;
}

@media (min-width: 576px) {
  .content__main {
    width: 540px;
  }
}

@media (min-width: 1200px) {
  .content__main {
    width: 600px;
  }
}

.content__right {
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 992px) {
  .content__right {
    width: 260px;
    position: fixed;
    right: 0;
    top: 80px;
  }
}

/***
* Post Style
**/
.post {
  margin-top: 50px;
}

.post__info {
  padding: 20px 0;
}

.post__info h4 a {
  text-decoration: none;
  color: inherit;
}

.post__info h4 a:hover {
  color: var(--mh-indigo);
}

.post__info--meta {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
}

.post__info--meta li {
  display: inline-block;
}

.post__info--meta li a {
  color: #777;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
}

.post__info--meta li a:hover {
  color: var(--mh-indigo);
}

.post__info--excerpt {
  margin: 0;
}

.single-post {
  padding: 40px 0;
}

.single-post__header {
  padding: 20px 0px;
}

.single-post__header--meta {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.single-post__header--meta li {
  display: inline-block;
}

.single-post__header--meta li a {
  color: #777;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
}

.single-post__header--meta li a:hover {
  color: var(--mh-indigo);
}

.page-title ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-title ul li {
  display: inline-block;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}

.page-title ul li a {
  display: block;
  text-decoration: none;
  color: var(--mh-indigo);
}

.page-title ul li a:hover {
  color: var(--mh-indigo);
  text-decoration: underline;
}

/********************
*** Widget CSS
*********************/
.widget-title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  color: #777;
  margin-bottom: 0;
  letter-spacing: 1px;
  padding: 8px 0;
}

/********************
*** Helper CSS
*********************/
.text-center {
  text-align: center;
}

.ps-20 {
  padding-left: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.grid-temp-2 {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: #212529;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}

.btn-primary {
  color: #fff;
  background-color: var(--mh-indigo);
  border-color: var(--mh-indigo);
}

.btn-primary:hover {
  color: #fff;
  background-color: #4e0cb9;
  border-color: #4e0cb9;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}
/*# sourceMappingURL=style.css.map */